In [1]:
import pandas as pd

# TEOTIL2 data for Oslofjorden

Get TEOTIL2 data for vassdragsområder around Oslofjord.

In [2]:
st_yr, end_yr = 1990, 2022
years = range(st_yr, end_yr + 1)
catch_ids = [f"{id:03d}." for id in range(1, 18)]
df_list = []
for year in years:
    df = pd.read_csv(
        f"https://raw.githubusercontent.com/NIVANorge/teotil2/main/data/norway_annual_output_data/teotil2_results_{year}.csv"
    )
    df = df.query("regine in @catch_ids")
    df["year"] = year
    df_list.append(df)

df = pd.concat(df_list, axis="rows")
acc_cols = [col for col in df.columns if col.split("_")[0] == "accum"]
cols = ["regine", "year"] + acc_cols
df = df[cols]
df.sort_values(["regine", "year"], inplace=True)
df.to_excel(f"../data/oslofjord_summary/teotil2_001-017_{st_yr}-{end_yr}.xlsx", index=False)

df.head()

,regine,year,accum_agri_diff_tot-n_tonnes,accum_agri_diff_tot-p_tonnes,accum_agri_pt_tot-n_tonnes,accum_agri_pt_tot-p_tonnes,accum_all_point_tot-n_tonnes,accum_all_point_tot-p_tonnes,accum_all_sources_tot-n_tonnes,accum_all_sources_tot-p_tonnes,...,accum_nat_diff_tot-n_tonnes,accum_nat_diff_tot-p_tonnes,accum_q_m3/s,accum_ren_tot-n_tonnes,accum_ren_tot-p_tonnes,accum_spr_tot-n_tonnes,accum_spr_tot-p_tonnes,accum_upstr_area_km2,accum_urban_tot-n_tonnes,accum_urban_tot-p_tonnes
19832,001.,1990,510.424747,10.357366,0.0,0.0,62.000000,15.800000,937.366541,29.259674,...,359.328944,2.493095,32.755439,0.000000,0.000000,0.000000,0.000000,2513.6,5.612849,0.609214
19832,001.,1991,499.554282,10.080373,0.0,0.0,40.000000,10.000000,878.792447,23.082755,...,333.625316,2.393168,28.672196,0.000000,0.000000,0.000000,0.000000,2513.6,5.612849,0.609214
19832,001.,1992,484.234391,9.583317,0.0,0.0,4.600000,0.800318,834.848161,13.412358,...,340.400921,2.419509,29.748560,0.000000,0.000000,0.000000,0.000000,2513.6,5.612849,0.609214
19832,001.,1993,455.056786,8.657608,0.0,0.0,224.882494,11.866675,1012.950873,23.502458,...,327.398743,2.368961,27.683052,166.181956,5.452230,27.700538,1.314144,2513.6,5.612849,0.609214
19832,001.,1994,435.950282,8.327283,0.0,0.0,215.600813,7.955275,1060.489455,19.555908,...,403.325511,2.664137,39.744672,115.824821,2.205976,28.175992,1.368880,2513.6,5.612849,0.609214